{% extends 'navigation.html' %}
{% block sub-content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h3>Service List</h3>
            <a href="{% url 'service:create' %}">
                <button class="btn btn-primary">Add new service</button>
            </a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Service</th>
                <th>Service Type</th>
                <th style="width: 10%"></th>
                <th style="width: 10%"></th>
            </tr>
            </thead>

            <tbody>
            {% for service in object_list %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>{{ service.service_type }}</td>

                    <td>
                        <form action="{% url 'service:update' service.id %}">{% csrf_token %}
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'service:delete' service.id %}">{% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}