{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Service List</h2>
        <div class="row">

            <a href="{% url 'service:create' %}" style="float: right">
                <button>Add new service</button>
            </a>
        </div>
        <div class="row">
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <td>Service</td>
                    <td>Service Type</td>
                    <td>Update</td>
                    <td>Delete</td>

                </tr>
                {% for service in object_list %}
                    <tr>
                        <td>{{ service.name }}</td>
                        <td>{{ service.service_type }}</td>

                        <td>
                            <form action="{% url 'service:update' service.id %}">{% csrf_token %}
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{% url 'service:delete' service.id %}">{% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}