<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<table>
    {% for service in services %}

        <tr>

            <td>{{ service }} </td>
            <td>
                <a href="{% url "delete" service.id %}">
                    <button>delete</button>
                </a>
            </td>
            <td>
                <a href="{% url "updateform" service.id %}">
                    <input type="button" id="modifiko" name="modifiko" value="modifiko">
                </a>
            </td>
            <td>

            </td>


        </tr>

    {% endfor %}
    <a href="{% url "addform" %}">
        <button>add</button>
    </a>
</table>
</body>
</html>