<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    {% for service in services %}

        <tr>

            <td>{{ service }} </td>
            <td>
                <form method="post" action="{% url 'service:delete' service.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="post" action="{% url 'service:update' service.id %}">
                    {% csrf_token %}
                    <button type="submit">Update</button>
                </form>
            </td>

        </tr>

    {% endfor %}
    <a href="{% url 'service:create' %}">
        <button>add</button>
    </a>
</table>
</body>
</html>