<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<table>
    <tr>
        <td>
            <form method="get" action="{% url 'service:list' %}">
                <button type="submit">service list</button>
            </form>

        </td>
        <td>
            <form method="get" action="{% url 'subscription:list' %}">
                <button type="submit">subscription list</button>
            </form>

        </td>
        <td>
            <form method="get" action="{% url 'customer:list' %}">
                <button type="submit">customer list</button>
            </form>

        </td>
        <td>
            <form method="get" action="{% url 'logout' %}">
                <button type="submit">logout</button>
            </form>

        </td>
    </tr>
</table>

{% block content %}

{% endblock %}

</body>
</html>