<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body><h1>this is home</h1>
<form method="get" action="{% url 'service:list' %}">
    <button type="submit">service list</button>
</form>
<form method="get" action="{% url 'subscription:list' %}">
    <button type="submit">subscription list</button>
</form>

<form method="get" action="{% url 'customer:list' %}">
    <button type="submit">customer list</button>
</form>

<form method="get" action="{% url 'logout' %}">
    <button type="submit">logout</button>
</form>


</body>
</html>