{% extends 'base.html' %}
{% block content %}
    <form method="post" action="{% url 'subscription:create' %}">{% csrf_token %}
        <div>
            {{ form.customer.label_tag }}
            {{ form.customer }}<br>
        </div>
        <div>
            {{ form.service.label_tag }}
            {{ form.service }}<br>
        </div>
        <div>
            {{ form.start_date.label_tag }}
            {{ form.start_date }}<br>
        </div>
        <div>
            {{ form.end_date.label_tag }}
            {{ form.end_date }}<br>
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}