<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription</title>
</head>
<body>
<table>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.customer }} </td>
            <td>{{ obj.service }} </td>
            <td>{{ obj.date_created }} </td>
            <td>{{ obj.start_date }} </td>
            <td>{{ obj.end_date }} </td>
            <td>
                <form method="post" action="{% url 'subscription:delete' obj.id %}" >
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="post" action="{% url 'subscription:update' obj.id %}">
                    {% csrf_token %}
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<form method="post" action="{% url 'subscription:create' %}">{% csrf_token %}
    <button type="submit">Create</button>
</form>
</body>
</html>