{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <h2>Agent Form</h2>
        <form action="{{ action_url }}" method="post">
            {% csrf_token %}
            <div>
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div>
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div>
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}