<div class="container">
    <h2>Customer List</h2>
    <div class="row">
        <a href="{% url 'agent:add' %}" style="float: right">+ Add new agent</a>
    </div>
    <div class="row">
        <table border="1" style="border-collapse: collapse">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ agent.last_name }}</td>
                    <td>{{ agent.phone }}</td>
                    <td><a href="{% url 'agent:update' agent.id %}">Update</a></td>
                    <td><a href="{% url 'agent:delete' agent.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>